.App {
    width: 100%;
    max-width: 720px;
    margin: 100px auto 0 auto;
    text-align: center;
}

.SwatcherColors {
    list-style: none;
    padding: 0;
    margin: 0;
}

.SwatcherColors li {
    margin: 50px 0;
}

.SwatcherBlock {
    height: 50px;
}

.ButtonContainer {
    margin: 25px 0;
}

.Button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none; 
    user-select: none;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
